/* google font */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Ms+Madi&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Square+Peg&family=Updock&family=Whisper&display=swap');

body {
    font-family: "Roboto", 'Courier New', Courier, monospace;
}
/* row */
[class *="row" ] {
    margin: 1em 0;
}
/* Logo */
[class *="logo"] {
    width: 5em;
}
/* joel */
[class *="joel"] {
    width: 20em;
}
/* nav */
nav {
    box-shadow: 2px 1px 3px rgba(124, 127, 61,.3),
    2px 2px 4px rgba(71, 66, 10,.5);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    z-index: 20;
}
/* Logo */
[class *="logo"] {
    border-bottom-left-radius: 35%;
}
/* landing */
#landing {
    padding-bottom: 2em;
    box-shadow: 1px 1px 3vw rgba(114, 98, 51, 0.3),
    1px 2px 4px rgba(111, 107, 22, 0.4);
}
/* section */
section  {
    margin: 2em 0;
    box-shadow: 2px 1px 3vw rgb(128, 125, 113),
    2px 1px 4vw rgb(71, 67, 54);
    border-radius: 5%;
}
/* Ignore the first section */
section:not(:first-child) {
    background: linear-gradient(60deg, rgb(79, 64, 11), rgb(55, 45, 11));
}
/*
font-family: 'Ms Madi', cursive;
font-family: 'Square Peg', cursive;
font-family: 'Updock', cursive;
font-family: 'Whisper', cursive;
*/
/* Links */
.navbar::after{
    box-shadow: 2px 2px 2vw rgb(128, 125, 113),
    2px 3px 4vw rgb(66, 61, 43);
    border-bottom-right-radius: 10%;
}

body{
    background-image: linear-gradient(from to, rgb(85, 67, 19),
    rgb(75, 50, 2))!important;
}

a{
    text-decoration: none;
    transition: rotate(30deg) 1s ease-in-out;
    font-weight: 900;
    border-bottom-left-radius: 25%;
}

a:hover{
    box-shadow: 1px 2px 4px rgb(84, 79, 59), 
    2px 3px 6px rgb(92, 88, 75) ;
    background-color: rgb(32, 25, 6);
    border-radius: 25%;
}

/* Sub-menu */
[class *="dropdown-menu"], [class *="dropdown-menu"] a {
    background-color: rgb(48, 51, 51);
    color: white;
}

[class *="dropdown-menu"] a {
    box-shadow: 1px 2px 4px rgb(128, 125, 113), 
    2px 3px 6px rgb(42, 39, 33),
    3px 4px 8px rgb(71, 67, 54) ;
}
/* Typing - animation */
.wrapper .text-wrapper {
    font-size: 60px;
    font-weight: 400;
}
/* ul */
.wrapper .job-titles {
    margin: 2px 10px 0;
    height: 85px;
    line-height: 90px;
    overflow: hidden;
}
/* li */
.job-titles li{
    color: aqua;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
/* span */
.job-titles li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
/* span::after */
.job-titles li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(39,43,47,255);
    border-left: 2px solid green;
    animation: typing 2s steps(18) infinite;
}
/* animation slide */
@keyframes slide {
    100%{
        top: -360px
    }
}
/* For typing */
@keyframes typing {
    0%, 60% {
        left: 0%;
    }
    100%{
        left: min(120%);
    }
}
/* About */
/* Image slider */
.img-slider {
    overflow: hidden;
}
.img-slider figure {
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    animation: img-slider 7s infinite alternate running;
}
/* images */
.img-slider figure img {
    width: 33%;
    height: 50vh;
    float: left;
}
/* Animation */ 
@keyframes img-slider {
    from{
        left: -20%;
    }
    to{
       left: -160%;
   }
}


